
body, html{
    height: calc(100% - 10px);
    margin: 0;
    scroll-behavior: smooth;
    /* color: white; */
}
body{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#00087e+0,4855ce+35,404ece+65,0d00be+100 */
   /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#45484d+0,000000+100;Black+3D+%231 */
background: rgb(69,72,77); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=1 ); /* IE6-9 */
}

::-webkit-scrollbar {
    display: none;
}

.under{
    background-color: rgba(255, 255, 255, 0);
    transition: none;
    box-shadow: none;
}
.under:hover{
    cursor: pointer;
    transform: scale(1);
    box-shadow: none;
}

@media screen and (max-width: 600px) {
    .side{
        position: absolute;
        left: 5%;
        top: 5%;
        height: 90%;
        width: 25%;
        background-color: silver;
    }
    .main{
        position: absolute;
        right: 5%;
        top: 5%;
        height: 90%;
        width: 65%;
        border-radius: 0 40px 40px 0;
        background-color: rgb(255, 255, 255);
    }
    .menu{
        position: relative;
        top: calc(50% - ((40px * 5)/2));
        height: 40px;
        line-height: 40px;
        vertical-align: middle;
        text-align: center;
        font-weight: 500;
        border-radius: 10px;
        font-size: 70%;
        margin: 0;
        transition: 1s ease-in-out;
    }
    .menu:hover{
        cursor: pointer;
        background-color: rgb(170, 170, 170);
        box-shadow: grey 7px 8px 8px 2px;
    }
    .disable:hover{
        cursor: pointer;
        background-color: none;
        box-shadow: none;
    }
    .logout{
        margin-top: 10px;
        border: ridge rgb(216, 215, 215) 2px;
        border-radius: 6px;
        background-color: rgb(121, 108, 168);
    }
    .logout:hover{
        color: white;
        background-color: rgb(88, 74, 139);
    }

    .selected{
        font-weight: bold;
        transition: 250ms ease-in-out;
        transform: scale(0.9);
        background-color: rgb(170, 170, 170);
        box-shadow: grey 7px 8px 8px 2px;
    }

    .article{
        position: relative;
        text-align: center;
        left: 2.5%;
        top: 2.5%;
        height: 95%;
        width: 95%;
        display: none;
        right: 0%;   
        overflow: auto;
    }

    .welcome{
        position: relative;
        margin-top: 45%;
        font-family: 'PT Serif', serif;
    }
    .name{
        color: rgb(4, 1, 95);
        font-family: 'Lobster', cursive;
    }
    .wecode{
        background: -webkit-linear-gradient(rgb(0, 12, 175), rgb(58, 58, 255));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: 'Abril Fatface', cursive;
        font-size: 10%;
        animation: font forwards 1s ease-in-out;
    }

    @keyframes font{
        0%{
            transform: rotate(0deg);
            font-size:50%;
        }
        100%{
            transform: rotate(360deg);
            font-size:250%;
        }
    }

    .tittles{
        font-size: small;
        color: darkslateblue;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        border-bottom: ridge rgb(255, 255, 255) 5px;
        border-radius: 30px;
    }

    img{
        background-color: rgb(56, 63, 70);
        transition: transform 1s ease-in-out;
        box-shadow: rgb(59, 59, 59) 0px 1px 5px 1px;
    }

    img:hover{
        cursor: pointer;
        transform: scale(1.2);
        box-shadow: rgb(59, 59, 59) 2px 4px 8px 2px;
    }
}

/* ///////////////////////////////////////////////////////////// */
@media only screen and (min-width:601px) and (max-width:1023px){
    .side{
        position: absolute;
        left: 5%;
        top: 5%;
        height: 90%;
        width: 20%;
        background-color: silver;
    }
    .main{
        position: absolute;
        right: 5%;
        top: 5%;
        height: 90%;
        width: 70%;
        border-radius: 0 40px 40px 0;
        background-color: rgb(255, 255, 255);
    }
    .menu{
        position: relative;
        top: calc(50% - ((40px * 5)/2));
        height: 40px;
        line-height: 40px;
        vertical-align: middle;
        text-align: center;
        font-weight: 500;
        border-radius: 10px;
        margin: 0;
        transition: 1s ease-in-out;
    }
    .menu:hover{
        cursor: pointer;
        background-color: rgb(170, 170, 170);
        box-shadow: grey 7px 8px 8px 2px;
    }
    .disable:hover{
        cursor: pointer;
        background-color: none;
        box-shadow: none;
    }
    .logout{
        margin-top: 10px;
        border: ridge rgb(216, 215, 215) 2px;
        border-radius: 6px;
        background-color: rgb(121, 108, 168);
    }
    .logout:hover{
        color: white;
        background-color: rgb(88, 74, 139);
    }

    .selected{
        font-weight: bold;
        transition: 250ms ease-in-out;
        transform: scale(0.9);
        background-color: rgb(170, 170, 170);
        box-shadow: grey 7px 8px 8px 2px;
    }

    .article{
        position: relative;
        text-align: center;
        z-index: 1;
        left: 2.5%;
        top: 2.5%;
        height: 95%;
        width: 95%;
        display: none;
        right: 0%;   
        overflow: auto;
    }

    .welcome{
        position: relative;
        margin-top: 15%;
        font-family: 'PT Serif', serif;
    }
    .name{
        color: rgb(2, 0, 104);
        font-family: 'Lobster', cursive;
    }
    .wecode{
        background: -webkit-linear-gradient(rgb(0, 12, 175), rgb(58, 58, 255));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: 'Abril Fatface', cursive;
        font-size: 10%;
        animation: font forwards 1s ease-in-out;
    }

    @keyframes font{
        0%{
            transform: rotate(0deg);
            font-size:50%;
        }
        100%{
            transform: rotate(360deg);
            font-size:350%;
        }
    }

    .tittles{
        color: darkslateblue;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        border-bottom: ridge rgb(255, 255, 255) 5px;
        border-radius: 30px;
    }

    img{
        background-color: rgb(56, 63, 70);
        transition: transform .5s ease-in-out;
        box-shadow: rgb(59, 59, 59) 0px 1px 5px 1px;
    }

    img:hover{
        cursor: pointer;
        transform: scale(1.1);
        box-shadow: rgb(59, 59, 59) 2px 4px 8px 2px;
    }
}

/* /////////////////////////////////////////////////////////////// */

@media only screen and (min-width:1024px) and (max-width:1900px){
    .side{
        position: absolute;
        left: 15%;
        top: 5%;
        height: 90%;
        width: 20%;
        background-color: silver;
    }
    .main{
        position: absolute;
        right: 15%;
        top: 5%;
        height: 90%;
        width: 50%;
        border-radius: 0 40px 40px 0;
        background-color: rgb(255, 255, 255);
    }
    .menu{
        position: relative;
        top: calc(50% - ((40px * 5)/2));
        height: 40px;
        line-height: 40px;
        vertical-align: middle;
        text-align: center;
        font-weight: 500;
        border-radius: 10px;
        margin: 0;
        transition: 1s ease-in-out;
    }
    .menu:hover{
        cursor: pointer;
        background-color: rgb(170, 170, 170);
        box-shadow: grey 7px 8px 8px 2px;
    }
    .disable:hover{
        cursor: pointer;
        background-color: none;
        box-shadow: none;
    }
    .logout{
        margin-top: 10px;
        border: ridge rgb(216, 215, 215) 2px;
        border-radius: 6px;
        background-color: rgb(121, 108, 168);
    }
    .logout:hover{
        color: white;
        background-color: rgb(88, 74, 139);
    }

    .selected{
        font-weight: bold;
        transition: 250ms ease-in-out;
        transform: scale(0.9);
        background-color: rgb(170, 170, 170);
        box-shadow: grey 7px 8px 8px 2px;
    }

    .article{
        position: relative;
        text-align: center;
        z-index: 1;
        left: 2.5%;
        top: 2.5%;
        height: 95%;
        width: 95%;
        display: none;
        right: 0%;   
        overflow: auto;
    }

    .welcome{
        position: relative;
        margin-top: 15%;
        font-family: 'PT Serif', serif;
    }
    .name{
        color: rgb(2, 0, 104);
        font-family: 'Lobster', cursive;
    }
    .wecode{
        background: -webkit-linear-gradient(rgb(0, 12, 175), rgb(58, 58, 255));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: 'Abril Fatface', cursive;
        font-size: 10%;
        animation: font forwards 1s ease-in-out;
    }

    @keyframes font{
        0%{
            transform: rotate(0deg);
            font-size:50%;
        }
        100%{
            transform: rotate(360deg);
            font-size:350%;
        }
    }

    .tittles{
        color: darkslateblue;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        border-bottom: ridge rgb(255, 255, 255) 5px;
        border-radius: 30px;
    }

    img{
        background-color: rgb(56, 63, 70);
        transition: transform .5s ease-in-out;
        box-shadow: rgb(59, 59, 59) 0px 1px 5px 1px;
    }

    img:hover{
        cursor: pointer;
        transform: scale(1.1);
        box-shadow: rgb(59, 59, 59) 2px 4px 8px 2px;
    }
  }

@media only screen and (min-width:1900px){
    .side{
        position: absolute;
        left: 20%;
        top: 5%;
        height: 90%;
        width: 15%;
        background-color: silver;
    }
    .main{
        position: absolute;
        right: 20%;
        top: 5%;
        height: 90%;
        width: 45%;
        border-radius: 0 40px 40px 0;
        background-color: rgb(255, 255, 255);
    }
    .menu{
        position: relative;
        top: calc(50% - ((40px * 5)/2));
        height: 40px;
        line-height: 40px;
        vertical-align: middle;
        text-align: center;
        font-weight: 500;
        border-radius: 10px;
        margin: 0;
        transition: 1s ease-in-out;
    }
    .menu:hover{
        cursor: pointer;
        background-color: rgb(170, 170, 170);
        box-shadow: grey 7px 8px 8px 2px;
    }
    .disable:hover{
        cursor: pointer;
        background-color: none;
        box-shadow: none;
    }
    .logout{
        margin-top: 10px;
        border: ridge rgb(216, 215, 215) 2px;
        border-radius: 6px;
        background-color: rgb(121, 108, 168);
    }
    .logout:hover{
        color: white;
        background-color: rgb(88, 74, 139);
    }

    .selected{
        font-weight: bold;
        transition: 250ms ease-in-out;
        transform: scale(0.9);
        background-color: rgb(170, 170, 170);
        box-shadow: grey 7px 8px 8px 2px;
    }

    .article{
        position: relative;
        text-align: center;
        z-index: 1;
        left: 2.5%;
        top: 2.5%;
        height: 95%;
        width: 95%;
        display: none;
        right: 0%;   
        overflow: auto;
    }

    .welcome{
        position: relative;
        margin-top: 15%;
        font-family: 'PT Serif', serif;
    }
    .name{
        color: rgb(2, 0, 104);
        font-family: 'Lobster', cursive;
    }
    .wecode{
        background: -webkit-linear-gradient(rgb(0, 12, 175), rgb(58, 58, 255));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: 'Abril Fatface', cursive;
        font-size: 10%;
        animation: font forwards 1s ease-in-out;
    }

    @keyframes font{
        0%{
            transform: rotate(0deg);
            font-size:50%;
        }
        100%{
            transform: rotate(360deg);
            font-size:350%;
        }
    }

    .tittles{
        color: darkslateblue;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        border-bottom: ridge rgb(255, 255, 255) 5px;
        border-radius: 30px;
    }

    img{
        background-color: rgb(56, 63, 70);
        transition: transform .5s ease-in-out;
        box-shadow: rgb(59, 59, 59) 0px 1px 5px 1px;
    }

    img:hover{
        cursor: pointer;
        transform: scale(1.1);
        box-shadow: rgb(59, 59, 59) 2px 4px 8px 2px;
    }
}