@media screen and (max-width: 600px) {
    .material{
        position: absolute;
        z-index: 5;
        background-color: rgba(0, 0, 0, 0.80);
        border-radius: 0 40px 40px 0;
        font-size: 80%;
        width: 120%;
        left: -27.5%;
    }

    .material-title{
        text-align: center;
        color: rgb(0, 247, 255);
        margin-top: 15%;
    }
}


.material{
    position: absolute;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.80);
    border-radius: 0 40px 40px 0;
}

.material-title{
    font-size: 300%;
    text-align: center;
    color: rgb(0, 247, 255);
    margin-top: 15%;
}

.material-para{
    margin: 10%;
    color: white;
}

.closebtn{
    cursor: pointer;
    font-size: 200%;
    top: 20px;
    right: 40px;
    position: absolute;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.mvc{
    width: 70%;
    border-radius: 20px;
}