.project{
    position: absolute;
    z-index: 5;
    background-color: rgba(0, 0, 0);
}

.proj-title{
    font-size: 200%;
    text-align: center;
    color: rgb(0, 0, 0);
    margin-top: 5%;
}

.proj-closebtn{
    color: black;
}

.proj-article{
    position: relative;
    text-align: center;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: none;
    right: 0%;   
    background-color: aliceblue;
    overflow: auto;
}

.proj-menu{
    position: relative;
    border: solid black 1px;
    border-radius: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 40%;
    padding: 1%;
    margin: 1%;
    transition: 1s ease;
} 

.proj-menu-verti{
    position: relative;
    left: 13%;
    border: solid black 1px;
    float: left;
    width: 20%;
    margin: 1%;
    transition: 1s ease;
}

.proj-form{
    position: absolute;
    width: 50%;
    left: 50%;
    transform: scale(0) translate(-50%);
    top: 30%;
    text-align: center;
    transition: 2s;
}

.show{
    transform: scale(1) translate(-50%);
}

.proj-input{
    width: 100%;
    height: 25px;
    margin: 1%;
    border-radius: 5px;
    text-align: center;
}

.proj-button{
    width: 100%;
    height: 30px;
    margin: 1%;
    border-radius: 5px;
}

