@media screen and (max-width: 600px) {
    .proj-card{
        width: 90%;
        height: 30%;
        margin: 5%;
        border: solid white 2px;
        float: left;
    }
}

.projects-title{
    font-size: 200%;
    text-align: center;
    color: rgb(255, 255, 255);
    margin-top: 15%;
}

.U-Cons{
    position: absolute;
    top: 30%;
    left: 15%;
    width: 70%;
    border-radius: 20px;
}

.menu-main{
    position: relative;
    top: calc(40% - ((40px * 5)/2));
    height: 40px;
    left: 4%;
    line-height: 40px;
    vertical-align: middle;
    text-align: center;
    font-weight: 500;
    border-radius: 10px;
    width: 90%;
    margin: 2%;
    transition: 1s ease-in-out;
}

.menu-main:hover{
    cursor: pointer;
    background-color: rgb(241, 235, 235);
    box-shadow: grey 7px 8px 8px 2px;
}

.selected-main{
    font-weight: bold;
    transition: 250ms ease-in-out;
    transform: scale(0.9);
    background-color: rgb(209, 209, 209);
    box-shadow: grey 7px 8px 8px 2px;
}

.proj-card{
    width: 90%;
    height: 30%;
    margin: 4%;
    border: ridge white 5px;
    border-radius: 10px;
    float: left;
    color: white;
    overflow: auto;
}

.mat-used{
    text-align: left;
    color: antiquewhite;
}

.mat-list{
    text-align: left;
}

.proj-link{
    transform: scale(0.9);
    transition: 2s;
}

.proj-link:hover{
    cursor: pointer;
    transform: scale(1.1);
    color: rgb(80, 80, 156);
}
