body{
    background-color : rgba(255, 255, 255, 0.72);
}

/* mobile */
@media screen and (max-width: 600px) {
    .user{
        margin-top: 20%;
        left: 10%;
        width: 80%;
        height: 500px;
        position: relative;
        transform-style: preserve-3d;
        transition: transform 1s ease;
    }

    .face{
        position: absolute;
        padding: 0;
        width: 100%;
        height: 500px;
        /* color: aliceblue; */
        text-align: center;
        backface-visibility: hidden;
    }

    .inputs{
        text-align: center;
        width: 95%;
        height: 30px;
        margin-top: 2%;
        border-radius: 40px;
        border: ridge rgb(167, 167, 167) 2px;
    }

    .tittleLogin{
        margin-top: 100px;
        font-size: 100%;
    }

    .tittleRegis{
        font-size: 100%;
    }

    .register-card{
        background-image: linear-gradient(to right, rgb(252, 252, 252), rgb(204, 204, 204));
        box-shadow: 9px 13px 12px rgba(10, 9, 19, 0.5);
        transform: rotateY(180deg);
        /* border: 5px ridge white; */
        border-radius: 50px 0px 50px 0px;
        animation: borderEffect infinite 4s 1s;
    }
    .login-card{
        background-image: linear-gradient(to right, rgb(252, 252, 252), rgb(204, 204, 204));
        box-shadow: 9px 13px 12px rgba(10, 9, 19, 0.5);
        /* border: 5px ridge white; */
        border-radius: 0px 50px 0px 50px;
        animation: borderEffect infinite 6s 2s;
    }

    /* @keyframes borderEffect{
        0%{
            border-top: ridge rgb(64, 55, 189) 5px;
        }
        25%{
            border-right: ridge rgb(64, 55, 189) 5px;
        }
        50%{
            border-bottom: ridge rgb(64, 55, 189) 5px;
        }
        75%{
            border-left: ridge rgb(64, 55, 189) 5px;
        }
        75%{
            border-top: ridge rgb(64, 55, 189) 5px;
        }
    } */

    .button{
        width: 95%;
        height: 30px;
        margin-top: 2%;
        border-radius: 40px;
        border: ridge rgb(132, 171, 197) 2px;
    }

    #loginGuest{
        background-color: rgb(89, 102, 110);
        color: white;
        height: 25px;
        margin-top: 5%;
        margin-bottom: 25%;
    }

    .toggle{
        cursor: pointer;
        font-size: 80%;
        position: absolute;
        bottom: 0px;
        right: 15px;
    }

    .card-flipped{
        transform: rotateY(180deg);
    }

    .toggle:hover{
        color: rgb(17, 0, 255);
        font-family: Arial, Helvetica, sans-serif;
    }

    .err{
        padding: 0;
        width: 100%;
        font-size: 60%;
        color: red;
        font-weight: bold;
    }

    .inputs-err{
        border: ridge rgb(204, 0, 0) 2px;
        box-shadow : rgb(204, 0, 0) 0px 0px 3px 1px;
    }

    .inputs-suc{
        border: ridge rgb(0, 187, 0) 2px;
        box-shadow : rgb(1, 158, 1) 0px 0px 3px 1px;
        box-shadow: inset;
    }
}

/* desktop */
@media only screen and (min-width:601px) and (max-width:1023px){
    .user{
        margin-top: 5%;
        left: 30%;
        width: 40%;
        position: relative;
        transform-style: preserve-3d;
        transition: transform 1s ease;
    }

    .face{
        position: absolute;
        width: 100%;
        /* color: aliceblue; */
        text-align: center;
        backface-visibility: hidden;
    }

    .inputs{
        text-align: center;
        width: 95%;
        height: 40px;
        margin-top: 2%;
        border-radius: 40px;
        border: ridge rgb(167, 167, 167) 2px;
    }

    .register-card{
        /* background-image: linear-gradient(to right, rgb(0, 8, 126), rgb(13, 0, 190)); */
        background-image: linear-gradient(to right, rgb(252, 252, 252), rgb(204, 204, 204));
        box-shadow: 9px 13px 12px rgba(10, 9, 19, 0.5);
        transform: rotateY(180deg);
        /* border: 10px ridge white; */
        border-radius: 50px 0px 50px 0px;
        animation: borderEffect infinite 4s 1s;
    }
    .login-card{
        /* background-image: linear-gradient(to right, rgb(0, 8, 126), rgb(13, 0, 190)); */
        background-image: linear-gradient(to right, rgb(252, 252, 252), rgb(204, 204, 204));
        box-shadow: 9px 13px 12px rgba(10, 9, 19, 0.5);
        /* border: 10px ridge white; */
        border-radius: 0px 50px 0px 50px;
        animation: borderEffect infinite 6s 2s;
    }

    /* @keyframes borderEffect{
        0%{
            border-top: ridge rgb(64, 55, 189) 10px;
        }
        25%{
            border-right: ridge rgb(64, 55, 189) 10px;
        }
        50%{
            border-bottom: ridge rgb(64, 55, 189) 10px;
        }
        75%{
            border-left: ridge rgb(64, 55, 189) 10px;
        }
        75%{
            border-top: ridge rgb(64, 55, 189) 10px;
        }
    } */

    .button{
        width: 95%;
        height: 40px;
        margin-top: 2%;
        border-radius: 40px;
        border: ridge rgb(132, 171, 197) 2px;
    }

    #loginGuest{
        background-color: rgb(89, 102, 110);
        color: white;
        height: 30px;
        margin-top: 5%;
        margin-bottom: 25%;
    }

    .toggle{
        cursor: pointer;
        position: absolute;
        bottom: 10px;
        right: 10px;
    }

    .card-flipped{
        transform: rotateY(180deg);
    }

    .toggle:hover{
        color: rgb(17, 0, 255);
        font-family: Arial, Helvetica, sans-serif;
    }

    .err{
        width: 100%;
        font-size: 60%;
        color: red;
        font-weight: bold;
    }

    .inputs-err{
        border: ridge rgb(204, 0, 0) 2px;
        box-shadow : rgb(204, 0, 0) 0px 0px 3px 1px;
    }

    .inputs-suc{
        border: ridge rgb(0, 187, 0) 2px;
        box-shadow : rgb(1, 158, 1) 0px 0px 3px 1px;
        box-shadow: inset;
    }
}

@media only screen and (min-width:1024px) and (max-width:1900px){
    .user{
        margin-top: 5%;
        left: 35%;
        width: 35%;
        position: relative;
        transform-style: preserve-3d;
        transition: transform 1s ease;
    }

    .face{
        position: absolute;
        width: 100%;
        /* color: aliceblue; */
        text-align: center;
        backface-visibility: hidden;
    }

    .inputs{
        text-align: center;
        width: 95%;
        height: 40px;
        margin-top: 2%;
        border-radius: 40px;
        border: ridge rgb(167, 167, 167) 2px;
    }

    .register-card{
        /* background-image: linear-gradient(to right, rgb(0, 8, 126), rgb(13, 0, 190)); */
        background-image: linear-gradient(to right, rgb(252, 252, 252), rgb(204, 204, 204));
        box-shadow: 9px 13px 12px rgba(10, 9, 19, 0.5);
        transform: rotateY(180deg);
        /* border: 10px ridge white; */
        border-radius: 50px 0px 50px 0px;
        animation: borderEffect infinite 4s 1s;
    }
    .login-card{
        /* background-image: linear-gradient(to right, rgb(0, 8, 126), rgb(13, 0, 190)); */
        background-image: linear-gradient(to right, rgb(252, 252, 252), rgb(204, 204, 204));
        box-shadow: 9px 13px 12px rgba(10, 9, 19, 0.5);
        /* border: 10px ridge white; */
        border-radius: 0px 50px 0px 50px;
        animation: borderEffect infinite 6s 2s;
    }

    /* @keyframes borderEffect{
        0%{
            border-top: ridge rgb(64, 55, 189) 10px;
        }
        25%{
            border-right: ridge rgb(64, 55, 189) 10px;
        }
        50%{
            border-bottom: ridge rgb(64, 55, 189) 10px;
        }
        75%{
            border-left: ridge rgb(64, 55, 189) 10px;
        }
        75%{
            border-top: ridge rgb(64, 55, 189) 10px;
        }
    } */

    .button{
        width: 95%;
        height: 40px;
        margin-top: 2%;
        border-radius: 40px;
        border: ridge rgb(132, 171, 197) 2px;
    }

    #loginGuest{
        background-color: rgb(89, 102, 110);
        color: white;
        height: 30px;
        margin-top: 5%;
        margin-bottom: 25%;
    }

    .toggle{
        cursor: pointer;
        position: absolute;
        bottom: 10px;
        right: 10px;
    }

    .card-flipped{
        transform: rotateY(180deg);
    }

    .toggle:hover{
        color: rgb(17, 0, 255);
        font-family: Arial, Helvetica, sans-serif;
    }

    .err{
        width: 100%;
        font-size: 60%;
        color: red;
        font-weight: bold;
    }

    .inputs-err{
        border: ridge rgb(204, 0, 0) 2px;
        box-shadow : rgb(204, 0, 0) 0px 0px 3px 1px;
    }

    .inputs-suc{
        border: ridge rgb(0, 187, 0) 2px;
        box-shadow : rgb(1, 158, 1) 0px 0px 3px 1px;
        box-shadow: inset;
    }
}

@media only screen and (min-width:1900px){
    .user{
        margin-top: 5%;
        left: 40%;
        width: 25%;
        position: relative;
        transform-style: preserve-3d;
        transition: transform 1s ease;
    }

    .face{
        position: absolute;
        width: 100%;
        /* color: aliceblue; */
        text-align: center;
        backface-visibility: hidden;
    }

    .inputs{
        text-align: center;
        width: 95%;
        height: 40px;
        margin-top: 2%;
        border-radius: 40px;
        border: ridge rgb(167, 167, 167) 2px;
    }

    .register-card{
        /* background-image: linear-gradient(to right, rgb(0, 8, 126), rgb(13, 0, 190)); */
        background-image: linear-gradient(to right, rgb(252, 252, 252), rgb(204, 204, 204));
        box-shadow: 9px 13px 12px rgba(10, 9, 19, 0.5);
        transform: rotateY(180deg);
        /* border: 10px ridge white; */
        border-radius: 50px 0px 50px 0px;
        animation: borderEffect infinite 4s 1s;
    }
    .login-card{
        /* background-image: linear-gradient(to right, rgb(0, 8, 126), rgb(13, 0, 190)); */
        background-image: linear-gradient(to right, rgb(252, 252, 252), rgb(204, 204, 204));
        box-shadow: 9px 13px 12px rgba(10, 9, 19, 0.5);
        /* border: 10px ridge white; */
        border-radius: 0px 50px 0px 50px;
        animation: borderEffect infinite 6s 2s;
    }

    /* @keyframes borderEffect{
        0%{
            border-top: ridge rgb(64, 55, 189) 10px;
        }
        25%{
            border-right: ridge rgb(64, 55, 189) 10px;
        }
        50%{
            border-bottom: ridge rgb(64, 55, 189) 10px;
        }
        75%{
            border-left: ridge rgb(64, 55, 189) 10px;
        }
        75%{
            border-top: ridge rgb(64, 55, 189) 10px;
        }
    } */

    .button{
        width: 95%;
        height: 40px;
        margin-top: 2%;
        border-radius: 40px;
        border: ridge rgb(132, 171, 197) 2px;
    }

    #loginGuest{
        background-color: rgb(89, 102, 110);
        color: white;
        height: 30px;
        margin-top: 5%;
        margin-bottom: 25%;
    }

    .toggle{
        cursor: pointer;
        position: absolute;
        bottom: 10px;
        right: 10px;
    }

    .card-flipped{
        transform: rotateY(180deg);
    }

    .toggle:hover{
        color: rgb(17, 0, 255);
        font-family: Arial, Helvetica, sans-serif;
    }

    .err{
        width: 100%;
        font-size: 60%;
        color: red;
        font-weight: bold;
    }

    .inputs-err{
        border: ridge rgb(204, 0, 0) 2px;
        box-shadow : rgb(204, 0, 0) 0px 0px 3px 1px;
    }

    .inputs-suc{
        border: ridge rgb(0, 187, 0) 2px;
        box-shadow : rgb(1, 158, 1) 0px 0px 3px 1px;
        box-shadow: inset;
    }
}